.about-me_experience-page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;

  .about-me_experience-page_experience_item {
    text-align:start;
    display: flex;
    flex-direction: row;
    gap: 50px;

    .about-me_experience-page_experience_item_logo {
      display: flex;
      align-items: center;

      & img {
        width: 100px;
        height: 100px;
        border-radius: 16px;
        overflow: hidden;
      }
    }

    .about-me_experience-page_experience_item_text {
      display: flex;
      flex-direction: column;
      text-align:start;

      & h3 {
        margin-top: 0px;
      }

      .about-me_experience-page_experience_item_text_tag_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;

        .about-me_experience-page_experience_item_text_tag {
          padding: 1px 5px;
          background-color: rgba(100,100,100, 0.5);
          border-radius: 5px;
        }
      }
    }
  }
}
