.about-me_profile-page_container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  min-width: 300px;
  align-items: center;
  overflow: hidden;

  .about-me_profile-page_card {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    
    .about-me_profile-page_profile-image_container {
      height: 100%;
    
      .about-me_profile-page_profile-image {
        height: 160px;
      }
    }

    .about-me_profile-page_profile-details_container {
      text-align: start;
    }
  }

  .about-me_profile-page_label {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .about-me_profile-page_description {
    align-items: center;
    text-align: justify;
    text-align-last: center;  
  }
}
