.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
  padding: var(--content-padding);
}

.card {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding: 20px;
  width: fit-content;
}

.profileImageWrapper {
  height: 100%;
}

.profileImage {
  height: 160px;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 15px;
}

.detailRow {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
  font-size: 1.17rem;

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
}

.label {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.description {
  align-items: center;
  text-align: justify;
  text-align-last: center;
}
