.selected {
  background-color: var(--accent-color);
}

.icon {
  width: var(--taskbar-height);
  height: 100%;
}

.button {
  padding: 5px;
  border-radius: calc(var(--border-radius) * 0.5);
  border: none;

  &:hover {
    border: none;
    background: none;
    background-color: var(--hover-color);
  }
}
