.selected {
  background-color: rgba(255,255,255,0.3)
}

.taskbar-shortcut-button-icon {
  width: 30px;
  height: 100%;
}

.taskbar-shortcut-button {
  padding: 5px;
  border-radius: 8px;
  border: none;

  &:hover {
    border: none;
    background-color: rgba(255,255,255,0.5)
  }
}
