.selected {
  background-color: var(--primary-color);
}

.icon {
  width: 30px;
  height: 100%;
}

.button {
  padding: 5px;
  border-radius: var(--border-radius);
  border: none;

  &:hover {
    border: none;
    background: none;
    background-color: var(--hover-color);
  }
}
