.container {
  position: absolute;
  display: flex;
  bottom: 0;
  background-color: var(--tertiary-color);
  backdrop-filter: var(--backdrop-filter);
  width: 100%;
  height: var(--taskbar-height);
  z-index: 9999;
  gap: calc(var(--element-gap) * 0.25);
}

.shortcutArea {
  display: flex;
  flex: 7;
}

.widgetArea {
  display: flex;
  flex: 3;
  right: 0;
  justify-content: flex-end;
}
