:root {
  --buttons-width: 150px;
}

$handle-size: 20px;
$handle-offset: calc(0.8 * (#{$handle-size} * -1));

// --- Resize handles - Edges ---
.handleTop {
  height: calc($handle-size/2) !important;
  top: calc($handle-offset/2) !important;
}

.handleBottom {
  height: $handle-size !important;
  bottom: $handle-offset !important;
}

.handleLeft {
  width: $handle-size !important;
  left: $handle-offset !important;
}

.handleRight {
  width: $handle-size !important;
  right: $handle-offset !important;
}

// --- Resize handles - Corners ---
.handleTopLeft {
  width: calc($handle-size/2) !important;
  height: calc($handle-size/2) !important;
  top: calc($handle-offset/2) !important;
  right: calc($handle-offset/2) !important;
}

.handleTopRight {
  width: calc($handle-size/2) !important;
  height: calc($handle-size/2) !important;
  top: calc($handle-offset/2) !important;
  right: calc($handle-offset/2) !important;
}

.handleBottomLeft {
  width: $handle-size !important;
  height: $handle-size !important;
  bottom: $handle-offset !important;
  left: $handle-offset !important;
}

.handleBottomRight {
  width: $handle-size !important;
  height: $handle-size !important;
  bottom: $handle-offset !important;
  right: $handle-offset !important;
}

.rnd {
  transition:
    transform var(--duration) var(--slowing),
    width var(--duration) var(--slowing),
    height var(--duration) var(--slowing);
  pointer-events: auto;
  margin: 10px;
  max-width: 100% !important;
  max-height: 100% !important;

  &.dragging {
    transition: none;
  }
}

.container {
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  border: var(--border);
  border-radius: var(--border-radius);
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  backdrop-filter: var(--backdrop-filter);
  overflow: hidden;
  box-shadow: 1px 5px 16px -6px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 5px 16px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 5px 16px -6px rgba(0, 0, 0, 1);
}

.maximized {
  top: 0 !important;
  left: 0;
  margin: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
}

.closing {
  animation: var(--window-closing-animation);
}

.opening {
  animation: var(--window-opening-animation);
}

.titleBar {
  height: 40px;
  padding: 0;
  margin: 0px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;

  &:active {
    cursor: grabbing;
  }
}

.titleArea {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  margin: 0 0 0 var(--buttons-width);
}

.buttons {
  width: var(--buttons-width);
  padding: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;

  button {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 150ms linear;
    border-radius: 0px;
    border: none;
    width: 50px;
    padding: 0;

    &:hover {
      background-color: var(--btn-color);
    }

    &:active {
      transition: none;
      background-color: color-mix(in srgb, var(--btn-color) 75%, black);
    }
  }
}

.minimizeButton,
.maximizeButton {
  --btn-color: var(--hover-color);
}

.closeButton {
  --btn-color: red;
}

.content {
  box-sizing: border-box;
  padding: 0 var(--window-border-width) var(--window-border-width)
    var(--window-border-width);
  margin: 0;
  overflow: hidden;
  height: calc(100% - 40px);
}

@media (max-width: 550px) {
  .title {
    margin: 0;
  }
}
