.container {
  padding: var(--content-padding);

  & > :first-child {
    padding: 0;
    margin: 0;
  }
}

.sliderControl {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 14rem;
  padding-block: 0.75rem;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}
.sliderTrack {
  overflow: hidden;
  width: 100%;
  height: var(--slider-height);
  background-color: grey;
  -webkit-user-select: none;
  user-select: none;
  border-radius: var(--slider-radius);
}
.sliderIndicator {
  background-color: var(--accent-color);
  -webkit-user-select: none;
  user-select: none;
  border-radius: var(--slider-radius);
}
.sliderThumb {
  margin: 0 0 0 calc(var(--slider-height) * -1);
  width: var(--slider-height);
  height: var(--slider-height);
  background-color: var(--accent-color);
  -webkit-user-select: none;
  user-select: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sectionLabel {
  border-left: 10px solid var(--accent-color);
  padding: 0 0 0 20px;
  // line-height: 0.85em;
}

.verticalSectionList {
  gap: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.horizontalSectionList {
  gap: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
