@use "./mixins" as *;

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.55);
    opacity: 0;
  }
}

:root {
  // Animation
  --350ms: 350ms;
  --500ms: 500ms;
  --slowing-slow-start: cubic-bezier(0.2, 1, 0, 1);
  --slowing-quick-start: cubic-bezier(0.05, 1, 0, 1);
  --window-opening-animation: zoomIn var(--500ms) var(--slowing-slow-start);
  --window-closing-animation: zoomOut var(--500ms) var(--slowing-slow-start);

  // Geometry
  --border-width: 0;
  --window-border-width: 7px;
  --border-radius: 10px;
  --border: var(--border-width) solid var(--border-color);
  --taskbar-height: 60px;
  --slider-height: 1rem;
  --slider-radius: calc(var(--border-radius)/4);

  //Layout
  --compact-width: 600px;
  --element-gap: 5px;
  --content-padding: 50px 10%;

  // Color
  --theme: dark;
  --background-image: url("./assets/wallpaper/wallpaper.jpg");
  --accent-color: rgba(60, 75, 51, 1);
  --secondary-color: rgba(0, 0, 0, 0.3);
  --tertiary-color: rgba(0, 0, 0, 0.3);
  --hover-color: color-mix(in srgb, var(--accent-color) 33%, rgba(0, 0, 0, 0));
  --highlight-color: color-mix(
    in srgb,
    var(--accent-color) 83%,
    rgba(255, 255, 255, 1)
  );
  --selection-color: color-mix(
    in srgb,
    var(--hover-color) 95%,
    rgba(255, 255, 255, 1)
  );
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-inactive: color-mix(
    in srgb,
    rgba(0, 0, 0, 1) 33%,
    var(--text-color)
  );
  --text-color-accent-bg: rgba(255, 255, 255, 1);
  --text-color-tertiary-bg: rgba(255, 255, 255, 1);

  --border-color: grey;
  color-scheme: var(--theme);

  // Misc
  --blur-amount: 30px;
  --backdrop-filter: blur(var(--blur-amount));
  -webkit-tap-highlight-color: transparent;
  --box-shadow: 1px 5px 16px -6px rgba(0, 0, 0, 1);

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  overflow: hidden;

  // Text
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

a {
  @include a-base;
}

button {
  @include button-base;
}
